@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lora&family=PT+Serif:ital@1&family=Playfair+Display:ital@1&family=Roboto+Slab:wght@300&family=Work+Sans:ital@1&display=swap');

#content {
    max-width:1600px;
    margin: 0 auto;
    
}




nav a {
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;

}



#hero-msg h1, #hero-msg h4 {
    text-align: center;
}



.button-box {
    text-align: center;
}



main section {
    text-align: center;
}



#background {
    height: 725px;
    background-color:#D8E2DC ;

}


header {
    background-color:#FFCAD4;
    color: #9D8189;
}

body {
    background-color: white; 
    font-family: 'Domine', 'Lora', 'Roboto Slab';
    font-size: 22px;
    margin: 0;
    padding: 0;


}

h2 {
    margin: 0;
}


nav a:hover {
    background-color:#9D8189;
    text-decoration: none;
    color: #D8E2DC;
}



.book, .join {
    background-color:#FFCAD4	;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;
}




.book:hover, .join:hover{
    background-color: #9D8189	;
    color: #D8E2DC;

}



.msg{
    background-color: #FFCAD4;
    line-height: 1.5em;
    padding: 35px;

}



footer{
    background-color:#9D8189;
    color: #D8E2DC;
    padding: 25px 50px;
    margin-top: 200px;

}

.home-title {
    color: #9D8189;
    font-family: 'Playfair Display','Work Sans','PT Serif';
    font-size: 2em;
    margin-top: 10px;

}

h4 {
    color: black;
}

.msg h2 {
    color:#9D8189;
    font-family: 'Playfair Display','Work Sans','PT Serif';
}


.msg p {
    color:  black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #FFCAD4;
    text-decoration:none;
}

footer a:hover {
    color: #FFCAD4;
    text-decoration: underline;
}



.icon {
    width: 80px;
    padding-top: 10px;
    
}


.logo {
    width:80px;
}

#logo_link  {

    padding-top: 5px

} 



#hero-img {
    width: 100%;
}


footer p {
    font-size: 1.2em;
}    


footer .social img {
    padding-top: 15px;
}


.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #9D8189;

}

main section img {
    box-sizing: border-box;
}
























