main {
    width: 840px;
}

aside {
    width: 20rem;
    max-width: auto;
    margin: auto;
    border: 1 px solid(000/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #345;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: auto;
    padding: auto;
    box-shadow: none;

}

p {
    padding: 0;
}

h1 {
    color: #345;
}

nav {
    background-color: #eee;
    padding: auto;
}

nav a {
    color: #000;
    padding: auto;
    display: block;
}

footer {
    margin-top: 16px;
    border-top: 1px solid #eee;
    text-align: center;
}