main {
    width: 840px;
    max-width: 100%;
}

aside {
    width: 20rem;
    max-width: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #345;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: none;
    padding: 0;
    box-shadow: none;

}

p {
    padding: 0;
}

h1 {
    color: #345;
}

nav {
    background-color: #eee;
    padding: 1rem;
}

nav a {
    color: #000;
    padding: 0.5rem 0;
    display: block;
}

footer {
    margin-top: 16px;
    border-top: 1px solid #eee;
    text-align: center;
}