main {
    width: 840px;
}

aside {
    width: 20rem;
    margin: auto;
    border: 1 px solid(000/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #345;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 16px;
    border-top: 1px solid #eee;
    text-align: center;
}